<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/search_result.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='JS/ucraft.js') }}"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>

<header class="header">
	<hr/>
</header>

<div class="main-wrapper">
	<div class="search-wrapper">
		<form action="#" onsubmit="search(); return false;">
			<select name="search-type" id="search-type">
				<option value="0">유저</option>
				<option value="1">동맹</option>
			</select>
			<input type="text" name="search-name" id="search-name" placeholder="유저 혹은 동맹 이름을 입력하세요"/>
			<input type="button" value="검색"/>
		</form>
	</div>

	<div class="result-wrapper" id="result-wrapper">

	</div>
</div>

<footer class="footer">
	<hr/>
	Made by Yumere
</footer>

</body>
</html>