<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
</head>
<body>

<div class="login-wrapper">
	<form class="login-form" action="{{ url_for('login') }}" method="POST">
		<div class="user_id">
			<input type="text" id="user-id" name="user-id" placeholder="아이디를 입력하세요"/>
		</div>
		<div class="user_pw">
			<input type="password" id="user-pw" name="user-pw" placeholder="비밀번호를 입력하세요"/>
		</div>
		<div class="submit-button-wrapper">
			<input class="submit-button" type="submit" value="로그인"/>
			<!--{{url_for("login")}}-->
		</div>
	</form>
</div>

</body>
</html>