<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>

	<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
</head>
<body>
<header class="header">
	<div class="header-toolbar">
		<div class="logo">

		</div>
		<div class="toolbar">
			<a id="introduction" class="top-menu" href="#">Introduction</a>
			<a id="user-search" class="top-menu" href="#">유저 검색</a>
			<a id="ally-search" class="top-menu" href="#">동맹 검색</a>
		</div>
	</div>
	<hr>
</header>

<div class="main-wrapper">
	{% block body %}
	{% endblock %}
</div>

<footer class="footer">

</footer>
</body>
</html>