{% if users %}
	<div class="user-list-wrapper">
	<table class="user-list-table" border="1px solid">
		<tr class="table-header">
			<th class="user-name">유저명</th>
			<th class="user-ranking">랭킹</th>
			<th class="user-points">포인트</th>
			<th class="user-ally-name">동맹</th>
		</tr>

		{% for user in users %}
			<tr class="user-list">
				<td class="user-name" onclick="showPlanet('{{ user.user_name }}');"><label>{{ user.user_name }}</label></td>
				<td class="user-ranking">{{ user.ranking }}</td>
				<td class="user-points">{{ user.total_point }}</td>
				{% if user.ally_id is none %}
					<td class="user-ally-name"> - </td>
				{% else %}
					<td class="user-ally-name">{{ user.ally_id }}</td>
				{% endif %}
			</tr>
			{% for planet in user.planets %}
				<tr class="planet-list {{ user.user_name }}" style="display: none;">
					<td>{{ planet.coordinate }}</td>
					<td>{{ planet.type }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
	</div>
{% endif %}